[submodule "odala/api-umbrella"]
	path = odala/api-umbrella
	url = https://github.com/contrasec-fi/api-umbrella.git
[submodule "odala/apisix"]
	path = odala/apisix
	url = https://github.com/contrasec-fi/apisix.git
[submodule "odala/elasticsearch"]
	path = odala/elasticsearch
	url = https://github.com/contrasec-fi/elasticsearch.git
[submodule "odala/keycloak"]
	path = odala/keycloak
	url = https://github.com/contrasec-fi/keycloak.git
[submodule "odala/keyrock"]
	path = odala/keyrock
	url = https://github.com/contrasec-fi/keyrock.git
[submodule "odala/kong"]
	path = odala/kong
	url = https://github.com/contrasec-fi/kong.git
[submodule "odala/loki-stack"]
	path = odala/loki-stack
	url = https://github.com/contrasec-fi/loki-stack.git
[submodule "odala/marketplace"]
	path = odala/marketplace
	url = https://github.com/contrasec-fi/marketplace.git
[submodule "odala/mongo"]
	path = odala/mongo
	url = https://github.com/contrasec-fi/mongo.git
[submodule "odala/mysql"]
	path = odala/mysql
	url = https://github.com/contrasec-fi/mysql.git

[submodule "odala/documentation"]
	path = odala/documentation
	url = https://github.com/contrasec-fi/odala-documentation.git
[submodule "odala/odala-rbac"]
	path = odala/odala-rbac
	url = https://github.com/contrasec-fi/Odala-rbac.git
[submodule "odala/security-documentation"]
	path = odala/security-documentation
	url = https://github.com/contrasec-fi/security-component-documentation.git
[submodule "odala/trusted-broker-federation"]
	path = odala/trusted-broker-federation
	url = https://github.com/contrasec-fi/trusted-broker-federation.git
[submodule "odala/trusted-marketplace-portal"]
	path = odala/trusted-marketplace-portal
	url = https://github.com/contrasec-fi/trusted-marketplace-portal.git

[submodule "helm-charts/helm-charts"]
	path = helm-charts/helm-charts
	url = https://github.com/FIWARE/helm-charts.git
[submodule "load-tests/load-testss"]
	path = load-tests/load-tests
	url = https://github.com/FIWARE/load-tests.git
[submodule "odala/mdm-adapter"]
	path = odala/mdm-adapter
	url = https://gitlab.publiccode.solutions/odala-public/mdm-adapter.git
[submodule "marinera/marinera"]
	path = marinera/marinera
	url = https://github.com/FIWARE-Ops/marinera.git
[submodule "marinera/tests"]
	path = marinera/tests
	url = https://github.com/FIWARE-Ops/marinera-e2e.git
[submodule "fiware-gitops/fiware-gitops"]
	path = fiware-gitops/fiware-gitops
	url = https://github.com/FIWARE-Ops/fiware-gitops.git
[submodule "odala/loki-stack-documentation"]
	path = odala/loki-stack-documentation
	url = https://github.com/contrasec-fi/security-component-documentation
[submodule "odala/mobility-toolkit"]
	path = odala/mobility-toolkit
	url = https://github.com/nec-research/mobility-toolkit
[submodule "odala/ckan"]
	path = odala/ckan
	url = https://github.com/sirus-be/odala-public-ckan
[submodule "odala/contextbroker"]
	path = odala/contextbroker
	url = https://github.com/sirus-be/odala-public-contextbroker
[submodule "odala/nifi"]
	path = odala/nifi
	url = https://github.com/sirus-be/odala-public-nifi
[submodule "odala/nifi-registry"]
	path = odala/nifi-registry
	url = https://github.com/sirus-be/odala-public-nifi-registry
[submodule "odala/environmental-toolkit"]
	path = odala/environmental-toolkit
	url = https://github.com/HOP-Ubiquitous/Environmental-toolkit
[submodule "odala/mobility-dashboard"]
	path = odala/mobility-dashboard
	url = https://github.com/phoops/components-mobility-dashboard
[submodule "odala/travel-planner"]
	path = odala/travel-planner
	url = https://github.com/phoops/odala-travel-planner
[submodule "odala/parking-fetcher"]
	path = odala/parking-fetcher
	url = https://github.com/phoops/parking-access-fetcher
[submodule "odala/ckan-publisher-ngsi-ld"]
	path = odala/ckan-publisher-ngsi-ld
	url = https://github.com/phoops/ckan-publisher-ngsi-ld
[submodule "odala/otp-stops-extractor"]
	path = odala/otp-stops-extractor
	url = https://github.com/phoops/otp-stops-extractor
